# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/fe/node_modules
/fe/.pnp
/fe.pnp.js

# testing
/fe/coverage

# production
/fe/build

# misc
/fe/.DS_Store
/fe/.env.local
/fe/.env.development.local
/fe/.env.test.local
/fe/.env.production.local

/fe/npm-debug.log*
/fe/yarn-debug.log*
/fe/yarn-error.log*

/be/myenv
/be/__pycache__
/be/classify_data
/be/vgg16_model.pth
/be/weights_fine_tuning.pth
/be/weights_fine_tuning_v2.pth
/be/weights_fine_tuning_v3.pth
/be/weights_fine_tuning_v4.pth
/be/4_class_cassava.pth
/be/base_model.pth
/be/large_model.pth
/be/best.pt
/be/small_model.pth
/Dockerfile